/* CONTENT STYLE */

@media (max-width: 1199.98px) {
    .computador .texto p {
        font-size: 12px !important;
    }
}

body {
    background: url("../img/bg_home.png") no-repeat #fff;
    background-size: cover;
}

h1 {
    color: #686767;
    /* font-size: 56px; */
    font-size: 38px;
    font-weight: bold;
}

p {
    color: #8c8888;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

p a {
    color: #dcb99c;
}

.inputLogin {
    background: url("../img/bg_form_login.png") no-repeat 95% center #f1f0f0;
    border: 1px solid #d7d6d6;
    padding: 13px 20px;
}

.inputPass {
    background: url("../img/bg_form_senha.png") no-repeat 95% center #f1f0f0;
    border: 1px solid #d7d6d6;
    padding: 13px 20px;
}

.senha {
    color: #212a40;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.form-control::-webkit-input-placeholder { color: #8c8888; font-size: 18px; font-weight: bold; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #8c8888; font-size: 18px; font-weight: bold; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #8c8888; font-size: 18px; font-weight: bold; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #8c8888; font-size: 18px; font-weight: bold; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #8c8888; font-size: 18px; font-weight: bold; }  /* Microsoft Edge */

.computador .texto p {
    color: #686767;
    font-size: 16px;
    font-weight: normal;
    line-height: 45px;
}

.computador .imagem a {
    /* background: url("../img/img_google_play.png") no-repeat;
    width: 139px;
    height: 45px;
    display: block;
    color: transparent; */
}

/*RODAPE*/
footer p {
    color: #686767;
    font-size: 14px;
    font-weight: normal;
}