/* CONTENT STYLE */
.form-control::-webkit-input-placeholder { font-weight: normal; font-size: .9rem; line-height: 1.6rem; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { font-weight: normal; font-size: .9rem; line-height: 1.6rem; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { font-weight: normal; font-size: .9rem; line-height: 1.6rem; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { font-weight: normal; font-size: .9rem; line-height: 1.6rem; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { font-weight: normal; font-size: .9rem; line-height: 1.6rem; }  /* Microsoft Edge */

h1 {
    font-size: 36px;
    color: #686767;
    font-family: 'Conv_Proxima Nova Bold',Sans-Serif;
}

.form-control {
    background: #f1f0f0;
}

input#valor {
    background: #f1f0f0;
    color: #212a40;
    border: 1px solid #212a40;
    padding: .4rem .75rem;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

input#valor::placeholder {
    color: #212a40;
    font-weight: normal;
    font-size: .9rem;
}

#opcoes, #opcoesProg {
    border: 1px solid #ced4da;
    border-radius: 4px;
    background: #f1f0f0;
}

#opcoes a, #opcoesProg a {
    font-size: 18px;
    color: #2f374c;
}

#cartaoSalvo, #cartaoSalvoProg {
    border: 1px solid #ced4da;
    border-radius: 4px;
    background: #f1f0f0;
}

#cartaoSalvo a:last-child, #cartaoSalvoProg a:last-child {
    padding-bottom: 0;
}

#cartaoSalvo a:first-child, #cartaoSalvoProg a:first-child {
    border: none;
    padding-top: 0;
}
#cartaoSalvo a, #cartaoSalvoProg a {
    font-size: 18px;
    color: #2f374c;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 15px 0;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*inpud do valor selecionado no modal*/
a#valor {
    font-size: 1.1rem;
    line-height: 2rem;
}

a#valorProg {
    font-size: 1.1rem;
    line-height: 2rem;
}
.preenchidoVerde {
    color: #fff;
    background-color: #38c172;
    border-color: #38c172;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem !important;
    line-height: 1.5rem;
}

/*modal valores*/
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #248624;
    border-color: #5cb85c;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}