.panel {
  display: flex;
  position: relative;
  background: #fff;
  width: 300px;
  padding: 0 35px;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.chart {
  display: inline-block;
  width: 120px;
  margin: 40px auto 20px;
  padding: 0 10px;
}

.easyPieChart {
  position: relative;
  text-align: center;
}
.easyPieChart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.percentage,
.label {
  margin-bottom: 0.5em;
  text-align: center;
  font-weight: 100;
}

.percentage {
  font-size: 31px;
}

sup {
  top: -11px;
  margin-left: 1px;
  font-size: 14px;
  position: relative;
}

.ctrl {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #c4cdcc;
  word-spacing: 5px;
}
.ctrl span {
  cursor: pointer;
  -moz-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
.ctrl span:hover {
  color: #000;
}

.meta {
  margin: auto;
  max-width: 280px;
  border-top: 1px solid rgba(155, 155, 155, 0.2);
  text-align: center;
}
