@font-face {
	font-family: 'Conv_Proxima Nova Bold';
	src: url('../fonts/Proxima Nova Bold.eot');
	src: local('☺'), url('../fonts/Proxima Nova Bold.woff') format('woff'), url('../fonts/Proxima Nova Bold.ttf') format('truetype'), url('../fonts/Proxima Nova Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Proxima Nova Regular';
	src: url('../fonts/Proxima Nova Regular.eot');
	src: local('☺'), url('../fonts/Proxima Nova Regular.woff') format('woff'), url('../fonts/Proxima Nova Regular.ttf') format('truetype'), url('../fonts/Proxima Nova Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Proxima Nova Light';
	src: url('../fonts/Proxima Nova Light.eot');
	src: local('☺'), url('../fonts/Proxima Nova Light.woff') format('woff'), url('../fonts/Proxima Nova Light.ttf') format('truetype'), url('../fonts/Proxima Nova Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*GERAL*/
@media (max-width: 575.98px) {
    .logo img {
        width: 220px;
        height: auto;
    }
}

main {
    top: 81px;
}

/*girar spinner*/
.fa-spinner {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

.maisCredito {
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.maisCredito:hover {
    color: #2fa360;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.form-control::-webkit-input-placeholder { color: #adadad; font-size: 18px; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #adadad; font-size: 18px; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #adadad; font-size: 18px; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #adadad; font-size: 18px; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #adadad; font-size: 18px; }  /* Microsoft Edge */

a {
    color: #686767;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar .empresa {
    color: #686767;
    font-size: 17px;
    line-height: 21px;
    font-family: 'Conv_Proxima Nova Bold',Sans-Serif;
}

#sidebar .usuario {
    color: #686767;
    font-size: 13px;
    line-height: 17px;
    font-family: 'Conv_Proxima Nova Light';
}

#sidebar {
    /* min-width: 250px;
    max-width: 250px; */
    background: #fff;
    transition: all 0.3s;
    min-height: 100vh;
    box-shadow: 5px 0 5px -4px #9e9e9e;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #fff;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #fff;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    /* padding: 10px; */
    font-size: 14px;
    line-height: 40px;
    display: block;
    /* color: #686767; */
}

#sidebar a.dropdown-toggle {
    color: #212a40;
    line-height: 60px;
    font-family: 'Conv_Proxima Nova Bold',Sans-Serif;
    font-size: 18px;
}

#sidebar ul li a:hover {
    /* color: #7386D5;
    background: #fff; */
}

#sidebar a.settings {
    line-height: 20px;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
    color: #fff !important;
    background: #dcb99c;
}

#sidebar .settings[aria-expanded="true"], #sidebar .settings[aria-expanded="true"]:hover
/* #sidebar .settings>a, #sidebar .settings a[aria-expanded="true"], #sidebar .settings>a:hover, #sidebar .settings a[aria-expanded="true"]:hover */ {
    background: transparent;
}

#sidebar ul li.active>a:hover, a[aria-expanded="true"]:hover {
    background: #d49e72;
}

#sidebar ul li a.sidebarAtivo {
    color: #dcb99c;
}

#sidebar .dados .dropdown-menu {
    padding: 0;
}

#sidebar .dados .dropdown-menu a {
    line-height: 30px;
}

#sidebar .dados .dropdown-toggle::after {
    display: none;
}

a.dropdown-toggle.collapsed {
    /* color: #212a40 !important; */
}

a[data-toggle="collapse"] {
    position: relative;
    text-decoration: none;
    color: #212a40;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #a4a4a4;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #fff !important;
    color: #fff !important;
}

/*SIDEBAR*/
.sidebar .rodape {
    /* position: absolute; */
    bottom: 0;
}

.sidebar .rodape img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

.sidebar .consultas {
    background: url("../img/icon_sidebar_consultas.png") no-repeat transparent 15px center;
}

.sidebar .consultas[aria-expanded="true"] {
    background: url("../img/icon_sidebar_consultas_b.png") no-repeat #dcb99c 15px center;
}

.sidebar .produtos {
    background: url("../img/icon_sidebar_produtos.png") no-repeat transparent 15px center;
}

.sidebar .produtos[aria-expanded="true"] {
    background: url("../img/icon_sidebar_produtos_b.png") no-repeat #dcb99c 15px center;
}

.sidebar .servicos {
    background: url("../img/icon_sidebar_servicos.png") no-repeat transparent 15px center;
}

.sidebar .servicos[aria-expanded="true"] {
    background: url("../img/icon_sidebar_servicos_b.png") no-repeat #dcb99c 15px center;
}

.sidebar .dados {
    /* background: url("../img/bg_sidebar_conf.png") no-repeat transparent right center; */
}

/* CUSTOM SCROLLBAR */
#sidebar::-webkit-scrollbar {
    width: 3px;
}
#sidebar::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
#sidebar::-webkit-scrollbar-thumb {
    background: #888; 
}
#sidebar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
body {
    font-family: 'Roboto Medium';
    /* background: url("../img/bg_home.png") no-repeat #fff;
    background-size: cover; */
    min-height: 100vh;
}

.alert-success, .alert-danger, .alert-warning, .alert-info {
    font-family: Roboto;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.btn-azul {
    border-radius: 4px;
    background-color: #212a40;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 28px;
    cursor: pointer;
}

.btn-azul:hover {
    color: #fff;
    background-color: #264180;
}

.btn-azul-sm {
    border-radius: 4px;
    background-color: #212a40;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 4px 20px;
    cursor: pointer;
}

.btn-azul-sm:hover {
    color: #fff;
    background-color: #264180;
}

.btn-azul-upload {
    border-radius: 4px;
    background-color: #212a40;
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px 28px;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 52px;
}

.btn-azul-upload:hover {
    color: #fff;
    background-color: #264180;
}

.bg-azul {
    background: #212a40 !important;
}

.btn-bege {
    background-color: #dcb99c;
    border-color: #dcb99c;
    color: #fff;
}

.btn-bege:hover {
    background-color: #d49e72;
    border-color: #d49e72;
    color: #fff;
}

.btn-bege-sm {
    background-color: #dcb99c;
    border-color: #dcb99c;
    color: #fff;
}

.btn-bege-sm:hover {
    background-color: #d49e72;
    border-color: #d49e72;
    color: #fff;
}

.btn-primary {
    color: #fff;
    background-color: #212a40;
    border-color: #212a40;
}

.btn-primary:hover {
    color: #fff;
    background-color: #264180;
    border-color: #264180;
}

/*MENU*/
@media (max-width: 991.98px) {
    .navbar .plus {
        display: none;
    }
}

.navbar {
    position: absolute;
    right: 0;
}

a.navbar-brand.logo {
    color: #fff;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Conv_Proxima Nova Regular',Sans-Serif;
    font-size: 18px;
    line-height: 21px;
    color: #cacaca;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar .hand {
    position: relative;
}

.navbar .hand .img {
    position: absolute;
    background: url(../img/bg_menu_hand.png) no-repeat;
    right: 0;
    top: -38px;
    width: 242px;
    height: 160px;
    z-index: -99999;
}

/*HOME*/
@media (max-width: 991.98px) {
    .navbar .hand {
        display: none;
    }
}

.saldo p {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Conv_Proxima Nova Bold',Sans-Serif;
}

.saldo p span {
    font-size: 34px;
}

.saldo small {
    font-size: 12px;
    line-height: 16px;
}

.bemvindo h1 {
    font-size: 36px;
    color: #212a40;
    font-family: 'Conv_Proxima Nova Bold',Sans-Serif;
}

.bemvindo p {
    font-size: 14px;
    color: #8c8888;
    font-family: 'Roboto bold', sans-serif;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}