@font-face {
	font-family: 'Conv_Proxima Nova Bold';
	src: url('../fonts/Proxima Nova Bold.eot');
	src: local('☺'), url('../fonts/Proxima Nova Bold.woff') format('woff'), url('../fonts/Proxima Nova Bold.ttf') format('truetype'), url('../fonts/Proxima Nova Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Proxima Nova Regular';
	src: url('../fonts/Proxima Nova Regular.eot');
	src: local('☺'), url('../fonts/Proxima Nova Regular.woff') format('woff'), url('../fonts/Proxima Nova Regular.ttf') format('truetype'), url('../fonts/Proxima Nova Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_Proxima Nova Light';
	src: url('../fonts/Proxima Nova Light.eot');
	src: local('☺'), url('../fonts/Proxima Nova Light.woff') format('woff'), url('../fonts/Proxima Nova Light.ttf') format('truetype'), url('../fonts/Proxima Nova Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* CONTENT STYLE */

.btn-bege {
    background-color: #dcb99c;
    border-color: #dcb99c;
    color: #fff;
    margin: 0 1.25rem;
}

.btn-bege:hover {
    background-color: #d49e72;
    border-color: #d49e72;
    color: #fff;
}

.text-bege {
    color: #dcb99c !important;
}

.text-azul {
    color: #212a40 !important;
}

h2 {
    color: #8c8888;
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
}

body {
    background: url("../img/bg_home.png") no-repeat #fff;
    background-size: cover;
}

h1 {
    color: #686767;
    /* font-size: 56px; */
    font-size: 38px;
    font-weight: bold;
}

h1 span {
    color: #dcb99c;
}

.resultado.hide {
    display: none;
}

/* INPUT "CONSULTE UM CPF" */

input.form-control.cpf {
    border: none;
    border-bottom: 1px solid #ced4de;
    border-radius: 0;
    font-size: 50px;
    line-height: 50px;
    color: #686767;
    font-family: 'Conv_Proxima Nova Bold';
}

input.form-control.cpf::placeholder {
    font-size: 50px;
    line-height: 50px;
}

/* BOTÃO LUPA "CONSULTE UM CPF" */
button.btn.btn-light {
    font-size: 50px;
    line-height: 50px;
    background: transparent;
    border: 1px solid transparent;
}

button.btn.btn-light:hover {
    opacity: .8;
    background: transparent;
    border: 1px solid transparent;
}

/* CAIXA DE RESULTADO ABAIXO DO "CONSULTE UM CPF" */

.resultado .retorno {
    background: #f1f0f0;
    border: 1px solid #dad9d9;
    border-radius: 4px;
}

.resultado .retorno p {
    color: #686767;
    font-family: Roboto Medium;
}

.resultado .retorno p span, .resultado .retorno .atencao {
    color: #212a40;
}

.resultado p {
    font-size: 16px;
    font-family: Roboto;
    color: #8c8888;
}

.resultado .retorno .nome {
    font-size: 22px;
    color: #dcb99c;
    font-family: 'Conv_Proxima Nova Bold';
}

.resultado .retorno .marca {
    color: #dcb99c;
}

.resultado .retorno table td {
    font-size: 12px;
}

/* CEP */
.cep .form-control {
    background-color: #f1f0f0;
    height: 52px !important;
    font-size: 18px;
    font-family: Roboto;
    /* font-weight: bold; */
}

/* GERAL */

.form-control::-webkit-input-placeholder { color: #9d9b9b; font-size: 18px }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #9d9b9b; font-size: 18px }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #9d9b9b; font-size: 18px }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #9d9b9b; font-size: 18px }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #9d9b9b; font-size: 18px }  /* Microsoft Edge */

/* RODAPE */

footer p {
    color: #686767;
    font-size: 14px;
    font-weight: normal;
}