/* CONTENT STYLE */

.btn-bege {
    background-color: #dcb99c;
    border-color: #dcb99c;
    color: #fff;
    margin: 0 1.25rem;
}

.btn-bege:hover {
    background-color: #d49e72;
    border-color: #d49e72;
    color: #fff;
}

.mx-125 {
    margin: 1rem 1.25rem;
}

.custom-radio .custom-control-input:checked~.custom-control-label:before {
    background-color: #212a40;
}
.custom-control-input:checked~.custom-control-label:before {
    color: #fff;
    background-color: #212a40;
}

.custom-radio label.custom-control-label {
    font-size: 18px;
    line-height: 26px;
    color: #9d9b9b;
}

.custom-radio .custom-control-input~.custom-control-label:before {
    background-color: #b9b9b9;
}

.hide {
    display: none;
}

/*EMAIL RESET PASSWORD*/
@media (max-width: 1199.98px) {
    .computador .texto p {
        font-size: 12px !important;
    }
}

body {
    background: url("../img/bg_home.png") no-repeat #fff;
    background-size: cover;
}

h1 {
    color: #686767;
    /* font-size: 56px; */
    font-size: 38px;
    font-weight: bold;
}

h1 span {
    color: #dcb99c;
}

p {
    color: #8c8888;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

p a {
    color: #dcb99c;
}

.inputLogin {
    background: url("../img/bg_form_login.png") no-repeat 95% center;
    border: 1px solid #d7d6d6;
    padding: 13px 20px;
}

.inputPass {
    background: url("../img/bg_form_senha.png") no-repeat 95% center;
    border: 1px solid #d7d6d6;
    padding: 13px 20px;
}

.senha {
    color: #212a40;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.form-control::-webkit-input-placeholder { color: #9d9b9b; font-size: 18px; font-weight: bold; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #9d9b9b; font-size: 18px; font-weight: bold; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #9d9b9b; font-size: 18px; font-weight: bold; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #9d9b9b; font-size: 18px; font-weight: bold; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: #9d9b9b; font-size: 18px; font-weight: bold; }  /* Microsoft Edge */

.computador .texto p {
    color: #686767;
    font-size: 16px;
    font-weight: normal;
    line-height: 45px;
}

.computador .imagem a {
    /* background: url("../img/img_google_play.png") no-repeat;
    width: 139px;
    height: 45px;
    display: block;
    color: transparent; */
}

.email .card {
    border: transparent;
    background-color: transparent;
}

.email .card-header {
    background-color: transparent;
    border-bottom: none;
    color: #8c8888;
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
}

.email .form-control {
    background-color: #f1f0f0;
    height: 52px;
    font-size: 18px;
    font-family: Roboto;
    font-weight: bold;
}

.email label.custom-file-label {
    height: 52px;
    line-height: 40px;
    margin: 0;
    background: #f1f0f0;
    color: #9d9b9b;
    font-size: 18px;
}

.email .custom-file-label:after {
    height: 50px;
    line-height: 40px;
    content: "Selecionar arquivo";
    background: #212a40;
    color: #fff;
}

.email input#birth_date {
    padding: .782rem .75rem;
    height: 52px;
        color: #495057;
    font-size: 18px;
}

/*RODAPE*/
footer p {
    color: #686767;
    font-size: 14px;
    font-weight: normal;
}